* {
  font-weight: 900;
  font-family: cursive;
}
:root {
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 500px;
  border: 1px solid grey;
  
}


.MuiFormControl-root{
  width: 100%;
 }

 .MuiOutlinedInput-root{
  margin: 5px;
 }
 

.task-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.task-show {
  border: 1px solid green;
  border-radius: 30px;
  width: 350px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}
 
.taskup {
  width: 100%;
}

.task-form {
  display: flex;
  flex-direction: column;
}

p {
  line-break: anywhere;
}


form{
  background-color: rgb(143, 209, 137);
}